name: build-lecture-pdfs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install and run
      # sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      run: |
        npm install -g decktape
        decktape --chrome-arg=--disable-web-security --chrome-arg=--no-sandbox -s 1050x681 remark ${{ github.workspace }}/lectures/1-cpp-intro/index.html ${{ github.workspace }}/slides.pdf
    
    #- name: Test docker
    #  run: docker run --rm -t -v ${{ github.workspace }}:/slides -v ${{ github.workspace }}:/home/user ghcr.io/astefanutti/decktape remark /home/user/lectures/1-cpp-intro/index.html /home/user/slides.pdf

    #- name: Generate PDFs
    #  uses: addnab/docker-run-action@v3
    #  with:
    #    registry: ghcr.io
    #    image: astefanutti/decktape:latest
    #    options: --rm -t -v ${{ github.workspace }}:/slides -v ${{ github.workspace }}/lectures/1-cpp-intro:/home/user /home/user/index.html slides.pdf

    - name: Commit and push PDFs
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add *.pdf
        git commit -m "Update generated PDFs" || echo "No changes to commit"
        git push
